
body{
 background-color: var(--color-grey-1);
}

main{
    display: flex;
    flex-direction: column;
    color: var(--color-grey-7);
}

.profile__info{
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: space-around;
}

img{
    width: 80px;
    height: 80px;
    border-radius: 45px;

    box-sizing: border-box;
}

.userExchange{
    width: 169px;
    height: 38px;

    border-radius: 8px;
    background-color: var(--color-grey-2);

    border: solid 1px var(--color-grey-7) 
}

.ulName{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    gap: 20px;

    width: 92%;
}

li{
    display: flex;
    flex-direction: column;
    width: 381px;
    height: 243px;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;

    border: 2px solid var(--color-grey-7);
    border-radius: 8px;
    padding-left: 70px;
}

a{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 93px;
    height: 28px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    text-decoration: none;

    background-color: #D6336C;
    color: var(--color-grey-7);
    border: 1px solid #D6336C;
    border-radius: 4px;

    


    }